*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.dvd-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    
}
.dvd{
    background-color: red;
    width: 15%;
    animation: DvdAnimation 5s linear forwards alternate infinite;
}
@keyframes DvdAnimation{
    25%{
        transform: translateX(270%) translateY(320%);
        background-color: blueviolet;
    }
    50%{
        transform: translateX(600%) translateY(70%);
        background-color: chartreuse;
    }
    75%
    {
        transform: translateY(-400%) translateX(230%);
        background-color: cyan;
    }
    100%
    {
        transform: translateX(450%) translateY();
        background-color: chocolate;
    }
    
    
}
    
